<header class="px-4 pt-3" [ngClass]="{ mobile: mobile, shadow: mobile}">
    <section class="pb-2">
        <h1> Pantano App 🌾 </h1>
    </section>
</header>
<main [ngClass]="{mobile: mobile}">
    <div class="alert alert-warning" role="alert">
        Bienvenidos a las preguntas del pantano
    </div>
    <div class="welcome-buttons">
        <a href="." [routerLink]="['preguntas']" class="btn btn-success">Jugar</a>
        <a href="." [routerLink]="['preguntas']" class="btn btn-success">Practicar preguntas del programa</a>
    </div>
</main>
<footer>
    <img src="/assets/pantano.png">
</footer>