<div class="animated fadeIn">
    <header class="px-4 pt-3" [ngClass]="{ mobile: mobile, shadow: mobile}">
        <section class="pb-2">
            <h1> Pantano App 🌾 </h1>
        </section>
    </header>
    <main class="px-4 pt-3" [ngClass]="{ mobile: mobile }">
        <div class="card">
            <div class="card-header">
                A partir de la próxima semana jugá igual que en el programa
            </div>

            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">¡Muy pronto!</p>
                <a href="https://instagram.com/pantanoapp" class="btn btn-success"><strong>¡Seguinos en Instragram!</strong> <br> enterate cuando está disponible</a>
                <a href="#" [routerLink]="['preguntas']" class="btn btn-primary">Ir a estudiar las preguntas</a>
            </div>
        </div>
    </main>
    <footer class="px-4 py-2">
        <a href="https://federicofabre.com" target="_blank">@fedefabre</a> /
        <a href="https://www.linkedin.com/in/matias-miguenz-970402110" target="_blank">@matimiguenz</a> /
        <a href="https://instagram.com/pantanoapp" target="_blank">@pantanoApp</a>
    </footer>
</div>